# ignore all files in this folder
*
# don't ignore the gitignore himself
!.gitignore
# don't ignore the readme
!README.md
# don't ignore folders so that it is visible what files could be needed
!/area/
!/logo/
!/section/
!/signature/