<header>
<div class="olw-img-container" ng-class="'multilayer-bg-' + id">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center olw-style-reset"><span class="label olw-label-transparent" translate>AREA_{{id}}</span></h1>
			</div>
		</div>
	</div>
</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="input-group olw-input-group">
  				<span class="input-group-addon bg-{{slug}}">{{'FILTER_LANGUAGE' | translate}}:</span>
				<div class="btn-group">
  					<button type="button" class="btn btn-default" ng-click="toggleFilter('language','german')">
  						<i class="fa fa-check" ng-class="'text-' + slug" ng-show="isEnabled('language', 'german')"></i>Deutsch
  					</button>
  					<button type="button" class="btn btn-default" ng-click="toggleFilter('language','english')">
  						<i class="fa fa-check" ng-class="'text-' + slug" ng-show="isEnabled('language', 'english')"></i>English
  					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 ng-class="'text-' + slug">
				{{totalElements}}
				<span ng-show="totalElements == 1">{{'HEADLINE_LECTURE' | translate}}</span>
				<span ng-hide="totalElements == 1">{{'HEADLINE_LECTURES' | translate}}</span>
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="media-list nav">
				<li class="media" ng-repeat="collection in collections">
					<div class="media-object pull-left olw-media-object">{{collection.numberOfResources}}</div>
					<div olw-li-body title="collection.title" subtitle="collection.users.join(', ')" badges="badges(collection)" url="'collection/' + collection.url"/>
				</li>
			</ul>
		</div>
	</div>
 	<div class="row">
		<div class="col-md-12 text-center">
			<p>
				<button class="btn btn-lg btn-default" ng-class="'olw-btn-' + slug" ng-click="fetch()" ng-hide="!moreAvailable">{{'BUTTON_LOAD_MORE' | translate}}</button>
			</p>
		</div>
	</div>
</div>